Repository sunset-wasteland/sunset-wasteland, pull requests merged in 2022-07, with the labels that each got.

#192 Adjusted simple mob decomposing.
  code/modules/mob/living/simple_animal/hostile/f13/insects.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: Code, Quality of Life

#196 Added some sentient deathclaw assets and fluff sprites.
  code/game/objects/items/melee/f13onehanded.dm
  code/modules/clothing/glasses/_glasses.dm
  icons/fallout/mobs/monsters/deathclaw.dmi
  icons/fallout/objects/melee/melee.dmi
  icons/mob/clothing/eyes.dmi
Labels: Code, Sprites

#199 warren1
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset.dmm
  _maps/map_files/Pahrump-Sunset/Warren.dmm
Labels: Map

#205 Reverts nerfs to suture items
  code/game/objects/items/stacks/medical.dm
Labels: Code, Balance

#207 Gradient hair!
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/species.dm
  fortune13.dme
  modular_citadel/code/modules/hair_gradient/hair_gradient.dm
  modular_citadel/icons/mob/hair_gradients.dmi
Labels: Sprites, Quality of Life

#209 Fixes #207 Linters
  modular_citadel/code/modules/hair_gradient/hair_gradient.dm
Labels: Code

#211 Older Bugs & Porting Fixes
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset.dmm
  code/modules/clothing/gloves/tacklers.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/hostile/f13/raider.dm
  code/modules/projectiles/guns/ballistic/minigun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/surgery/organs/eyes.dm
  icons/mob/clothing/head.dmi
  icons/obj/storage.dmi
  icons/obj/surgery.dmi
Labels: Code, Sprites, bugfix

#212 Shield stuff
  code/__DEFINES/inventory.dm
  code/game/objects/items/shields.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/f13factionarmor.dm
  code/modules/clothing/suits/heavy_armor.dm
  code/modules/clothing/suits/light_armor.dm
  code/modules/clothing/suits/medium_armor.dm
Labels: Quality of Life, DO NOT MERGE

#208 New mammal snout - Stubby
  code/modules/mob/dead/new_player/sprite_accessories/snouts.dm
  modular_citadel/icons/mob/mam_snouts.dmi
Labels: Sprites, Quality of Life

#215 Adds town encryption keys to khan headsets
  code/game/objects/items/devices/radio/headset.dm
Labels: Code, Quality of Life

#217 Crafting time rebalance
  code/datums/components/crafting/recipes/recipes_assemblies.dm
  code/datums/components/crafting/recipes/recipes_explosives.dm
  code/datums/components/crafting/recipes/recipes_medicine.dm
  code/datums/components/crafting/recipes/recipes_misc.dm
  code/datums/components/crafting/recipes/recipes_primal.dm
  code/datums/components/crafting/recipes/recipes_tailoring.dm
  code/datums/components/crafting/recipes/recipes_tools.dm
  code/game/machinery/deployable.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/turfs/f13concrete.dm
  code/modules/hydroponics/grown/towercap.dm
Labels: Balance

#227 [MODULAR] Removes restrictions for certain clothing in loadout, adds new spawn loadout/kit for Wastelanders
  fortune13.dme
  modular_sunset/code/modules/client/loadout/head.dm
  modular_sunset/code/modules/client/loadout/suit.dm
  modular_sunset/code/modules/client/loadout/uniform.dm
  modular_sunset/code/modules/jobs/jobs_types/wasteland.dm
Labels: Quality of Life, Needs Testing, Balance

#240 Tweaking & Adjustments
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset-Lower.dmm
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset.dmm
  code/__DEFINES/jobs.dm
  code/controllers/subsystem/research.dm
  code/datums/datacore.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/admin/topic.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/admin.dm
  code/modules/jobs/job_types/followers.dm
  code/modules/jobs/job_types/khan.dm
  code/modules/jobs/job_types/legion.dm
  code/modules/jobs/job_types/silicon.dm
  code/modules/jobs/job_types/tribals.dm
  code/modules/jobs/job_types/vault.dm
  code/modules/jobs/job_types/wasteland.dm
  code/modules/jobs/jobs.dm
  fortune13.dme
  icons/obj/structures64.dmi
Labels: Code, Quality of Life, bugfix, Balance

#241 Adds a mode to border control that allows them to still join the lobby.
  code/controllers/configuration/entries/general.dm
  code/modules/client/border_control.dm
  code/modules/client/client_procs.dm
  code/modules/mob/dead/new_player/new_player.dm
  config/config.txt
Labels: Code, Quality of Life

#244 Fixes and QoL
  code/datums/components/crafting/recipes/recipes_misc.dm
  code/datums/components/crafting/recipes/recipes_tailoring.dm
  code/game/objects/items/melee/f13twohanded.dm
  code/game/objects/items/storage/fancy.dm
  code/modules/fallout/obj/structures/obstacle.dm
  code/modules/fallout/reagents/alcohol.dm
  code/modules/fallout/turf/walls.dm
  code/modules/jobs/job_types/wasteland.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
Labels: Code, Quality of Life, bugfix
