Repository sunset-wasteland/sunset-wasteland, pull requests merged in 2022-09, with the labels that each got.

#414 Balance pass two
  code/datums/components/crafting/recipes/recipes_weapon_and_ammo.dm
  code/game/objects/items/granters.dm
  code/game/objects/items/grenades/f13grenade.dm
  code/modules/clothing/suits/f13factionarmor.dm
  code/modules/jobs/job_types/enclave.dm
  code/modules/jobs/job_types/ncr.dm
  code/modules/jobs/job_types/wasteland.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/minigun.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/energy/plasmaf13.dm
  interface/interface.dm
  interface/skin.dmf
Labels: Balance

#436 Loudening of the Gunny
  code/modules/jobs/job_types/enclave.dm
Labels: DO NOT MERGE, Needs Author Attention

#452 Enclave base
  _maps/map_files/Pahrump-Sunset/Dungeons.dmm
  code/modules/fallout/resources/factory.dm
Labels: Map, Code, Balance

#514 Removes Dogborg from Module Selection [ADMIN EDIT]
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Code

#522 10mm SMG nerf + canonizes R82
  code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Code, Sprites, Balance

#507 Followers Love, also recyclers and colormates
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset-Lower.dmm
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset.dmm
  _maps/map_files/Pahrump-Sunset/Warren.dmm
  code/modules/fallout/obj/stack/f13Cash.dm
  code/modules/mining/machine_vending.dm
Labels: Map, Quality of Life, DO NOT MERGE, Balance
