Repository sunset-wasteland/sunset-wasteland, pull requests merged in 2022-05, with the labels that each got.

#47 fixes NCR/Legion dungeons
  _maps/map_files/Pahrump-Sunset/Dungeons.dmm
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset.dmm
Labels: Map

#49 removed some research circuits
  code/modules/research/designs/comp_board_designs/comp_board_designs_sci.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/designs/machine_desings/machine_designs_sci.dm
  code/modules/research/techweb/_techweb_node.dm
Labels: bugfix

#50 balanced rare ore placement
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset-Lower.dmm
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset.dmm
Labels: Map, Balance

#58 Reigns in mining economy to be more in line with other sources of trade income
  code/modules/WVM/wmv_buyer.dm
Labels: Balance

#61 Clothing that don't have digi-adapted sprites should now snap digi-legs to plantigrade when worn
  code/modules/clothing/shoes/f13.dm
  code/modules/clothing/suits/f13armor.dm
  code/modules/clothing/under/f13.dm
Labels: Needs Testing, DO NOT MERGE

#68 fixed NCR base access hotfix
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset.dmm
Labels: Map, bugfix

#72 Rock Springs pre-alpha
  _maps/map_files/Pahrump-Sunset/RockSprings.dmm
  code/game/objects/effects/decals/turfdecal/markings.dm
  code/game/turfs/simulated/floor/f13_floors.dm
  code/modules/fallout/turf/ground.dm
  icons/fallout/turfs/ground_harsh.dmi
  icons/obj/Ritas.dmi
  icons/turf/decalsbig.dmi
  icons/turf/decalshuge.dmi
Labels: Map

#76 Mass Fusion Glowup
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset-Lower.dmm
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset-Upper.dmm
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset.dmm
Labels: Map

#80 Nerfs incendiary ammo
  code/modules/projectiles/projectile/bullets/pistol.dm
Labels: Code, Balance

#81 Bighorn Less Hated
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset-Lower.dmm
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset-Upper.dmm
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset.dmm
  code/modules/fallout/machinery/light_sources/bar.dm
  icons/fallout/objects/structures/crimson.dmi
  icons/fallout/objects/structures/shed.dmi
Labels: Map

#88 NCR Base Improvement - Prison/Command/Medical Wing
  _maps/map_files/Pahrump-Sunset/Dungeons.dmm
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset-Lower.dmm
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset-Upper-2.dmm
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset-Upper.dmm
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset.dmm
Labels: Map
