Repository sunset-wasteland/sunset-wasteland, pull requests merged in 2022-08, with the labels that each got.

#275 Rock Springs + Warren Update 2
  _maps/map_files/Pahrump-Sunset/RockSprings-Upper.dmm
  _maps/map_files/Pahrump-Sunset/RockSprings.dmm
  _maps/map_files/Pahrump-Sunset/Warren-Upper.dmm
  _maps/map_files/Pahrump-Sunset/Warren.dmm
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Map

#276 Dungeon Cleanup
  _maps/map_files/Pahrump-Sunset/Dungeons.dmm
Labels: Map

#279 Fix #160, extra support for non-Fallout UIs
  code/__HELPERS/type2type.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/screen_objects/sprint.dm
  code/_onclick/hud/screen_objects/stamina.dm
  code/datums/components/combat_mode.dm
Labels: Code, bugfix

#284 Allow crafting recipes to be granted by traits
  code/datums/components/crafting/crafting.dm
  code/datums/components/crafting/recipes.dm
  code/datums/components/crafting/recipes/recipes_explosives.dm
Labels: Code, bugfix

#303 Implement experimental multiz area compatibility
  code/datums/weather/weather.dm
  code/game/area/areas.dm
  code/modules/mapping/map_template.dm
Labels: Map, Code, bugfix

#311 Port Coyote fix for mines being set off by flashlights
  code/modules/fallout/obj/explosives.dm
Labels: Code, Priority - High, bugfix

#313 Tweak atmos for performance
  code/modules/atmospherics/environmental/LINDA_system.dm
Labels: Code, Priority - Medium

#314 critical cent armor fix + balance touch up
  code/modules/clothing/suits/f13factionarmor.dm
Labels: Code, Sprites, bugfix, Balance

#318 Add Scourge fluff item for Abelshift
  fortune13.dme
  modular_citadel/code/modules/client/loadout/__donator.dm
  modular_sunset/code/modules/fluff/tessa_whip.dm
  modular_sunset/icons/obj/melee/tessa_whip.dmi
Labels: Code, Sprites, Fluff

#302 [NEEDS TESTING] Overhaul SSResearch for custom techwebs/networks
  code/controllers/subsystem/research.dm
  code/datums/components/nanites.dm
  code/game/machinery/computer/Operating.dm
  code/game/machinery/computer/dna_console.dm
  code/game/machinery/doppler_array.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/power/singularity/collector.dm
  code/modules/power/tesla/coil.dm
  code/modules/research/experimentor.dm
  code/modules/research/machinery/_production.dm
  code/modules/research/nanites/nanite_program_hub.dm
  code/modules/research/nanites/nanite_programs.dm
  code/modules/research/nanites/nanite_programs/utility.dm
  code/modules/research/nanites/program_disks.dm
  code/modules/research/rdconsole.dm
  code/modules/research/server.dm
  code/modules/research/techweb/_techweb.dm
  code/modules/surgery/experimental_dissection.dm
  code/modules/surgery/tools.dm
Labels: Code, Needs Testing

#352 Added fluff item for AbelShift
  fortune13.dme
  modular_citadel/code/modules/client/loadout/__donator.dm
  modular_sunset/code/modules/fluff/abel_jacket.dm
  modular_sunset/icons/mob/clothing/abel_jacket.dmi
Labels: Code, Sprites, Fluff

#363 Fuckfuckfuck
  _maps/RandomZLevels/VR/yuma_VR.dmm
  _maps/map_files/Pahrump-Sunset/Dungeons.dmm
  _maps/map_files/Pahrump-Sunset/Pahrump-Sunset.dmm
  _maps/map_files/Pahrump-Sunset/RockSprings.dmm
  code/game/objects/structures/watercloset.dm
  code/modules/fallout/obj/structures/well.dm
  icons/obj/Ritas.dmi
Labels: Map, Code, bugfix, Balance
