Repository sunset-wasteland/sunset-wasteland, pull requests merged in 2023-01, with the labels that each got.

#802 Fix adding water to hydrotrays.
  code/modules/hydroponics/hydroponics.dm
  code/modules/reagents/chemistry/holder.dm
Labels: bugfix

#806 Fix being able to seal nests with any stack
  code/modules/fallout/obj/structures/mob_spawners.dm
Labels: bugfix

#803 Lurze cyborg bug fix pass 1
  code/game/mecha/mech_fabricator.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/research/designs/mechfabricator_designs.dm
Labels: Code, bugfix

#812 Fix wounds harddeling
  code/datums/wounds/_wounds.dm
Labels: Code, bugfix, Code Quality

#809 Fix circuits harddeling
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
Labels: Code, bugfix, Code Quality
